In [ ]:
import pandas as pd

In [22]:
temperature_df = pd.read_csv('combined_temperatures.csv', parse_dates=['time'], infer_datetime_format=True)
print(temperature_df)

           time  temperature_2m_mean_Atlanta  temperature_2m_max_Atlanta  \
0    2018-10-01                         74.3                        82.1
1    2018-10-02                         72.1                        77.1
2    2018-10-03                         69.1                        72.1
3    2018-10-04                         68.9                        76.4
4    2018-10-05                         69.6                        74.8
...         ...                          ...                         ...
1821 2023-09-26                         74.1                        78.3
1822 2023-09-27                         75.4                        79.3
1823 2023-09-28                         74.4                        78.4
1824 2023-09-29                         74.4                        79.7
1825 2023-09-30                         74.4                        78.4

      temperature_2m_min_Atlanta  temperature_2m_mean_Boston  \
0                           68.3                        59.1
1                           68.6                        55.1
2                           65.8                        52.1
3                           64.0                        54.1
4                           64.7                        56.4
...                          ...                         ...
1821                        69.7                        54.1
1822                        73.0                        50.7
1823                        71.2                        56.0
1824                        69.0                        58.9
1825                        71.2                        64.8

      temperature_2m_max_Boston  temperature_2m_min_Boston  \
0                          74.0                       48.2
1                          66.6                       44.7
2                          61.1                       46.2
3                          65.9                       46.5
4                          68.2                       47.5
...                         ...                        ...
1821                       59.6                       49.2
1822                       60.8                       43.9
1823                       61.7                       52.6
1824                       63.1                       55.0
1825                       71.6                       58.9

      temperature_2m_mean_Chicago  temperature_2m_max_Chicago  \
0                            63.8                        68.3
1                            62.3                        66.0
2                            64.2                        69.6
3                            68.4                        74.3
4                            67.3                        73.4
...                           ...                         ...
1821                         61.8                        67.0
1822                         66.1                        73.2
1823                         69.9                        74.6
1824                         71.4                        74.9
1825                         63.0                        70.4

      temperature_2m_min_Chicago  ...  temperature_2m_min_Phoenix  \
0                           60.3  ...                        75.3
1                           59.0  ...                        75.9
2                           60.3  ...                        75.4
3                           62.8  ...                        71.7
4                           63.9  ...                        72.0
...                          ...  ...                         ...
1821                        56.0  ...                        72.6
1822                        60.9  ...                        71.9
1823                        64.5  ...                        72.0
1824                        67.4  ...                        73.2
1825                        58.3  ...                        76.3

      temperature_2m_mean_Seattle  temperature_2m_max_Seattle  \
0                            58.7                        72.7
1                            57.8                        64.4
2                            55.0                        59.0
3                            57.2                        66.9
4                            56.1                        67.1
...                           ...                         ...
1821                         49.6                        60.3
1822                         50.0                        50.6
1823                         53.8                        55.7
1824                         53.3                        62.2
1825                         57.1                        65.9

      temperature_2m_min_Seattle  temperature_2m_mean_San Francisco  \
0                           51.0                               58.7
1                           56.4                               60.2
2                           54.1                               60.1
3                           52.2                               61.8
4                           51.7                               60.3
...                          ...                                ...
1821                        44.8                               61.1
1822                        48.9                               61.9
1823                        54.9                               64.7
1824                        46.7                               71.9
1825                        50.5                               74.5

      temperature_2m_max_San Francisco  temperature_2m_min_San Francisco  \
0                                 71.9                              50.6
1                                 72.4                              53.7
2                                 67.8                              53.9
3                                 73.2                              52.1
4                                 73.2                              52.9
...                                ...                               ...
1821                              70.0                              53.9
1822                              70.5                              55.7
1823                              83.8                              54.5
1824                              89.8                              57.5
1825                              95.0                              58.7

      temperature_2m_mean_Las Vegas  temperature_2m_max_Las Vegas  \
0                              80.2                          93.5
1                              81.3                          94.8
2                              79.9                          95.2
3                              77.8                          89.3
4                              78.4                          92.5
...                             ...                           ...
1821                           82.1                          92.7
1822                           79.6                          91.1
1823                           77.5                          90.4
1824                           78.8                          90.7
1825                           80.1                          93.3

      temperature_2m_min_Las Vegas
0                             66.1
1                             67.0
2                             67.8
3                             65.7
4                             65.2
...                            ...
1821                          69.6
1822                          66.1
1823                          63.9
1824                          64.8
1825                          67.2

[1826 rows x 43 columns]

In [23]:
temperature_df['Month'] = temperature_df['time'].dt.month
temperature_df['Year'] = temperature_df['time'].dt.year
print(temperature_df)

           time  temperature_2m_mean_Atlanta  temperature_2m_max_Atlanta  \
0    2018-10-01                         74.3                        82.1
1    2018-10-02                         72.1                        77.1
2    2018-10-03                         69.1                        72.1
3    2018-10-04                         68.9                        76.4
4    2018-10-05                         69.6                        74.8
...         ...                          ...                         ...
1821 2023-09-26                         74.1                        78.3
1822 2023-09-27                         75.4                        79.3
1823 2023-09-28                         74.4                        78.4
1824 2023-09-29                         74.4                        79.7
1825 2023-09-30                         74.4                        78.4

      temperature_2m_min_Atlanta  temperature_2m_mean_Boston  \
0                           68.3                        59.1
1                           68.6                        55.1
2                           65.8                        52.1
3                           64.0                        54.1
4                           64.7                        56.4
...                          ...                         ...
1821                        69.7                        54.1
1822                        73.0                        50.7
1823                        71.2                        56.0
1824                        69.0                        58.9
1825                        71.2                        64.8

      temperature_2m_max_Boston  temperature_2m_min_Boston  \
0                          74.0                       48.2
1                          66.6                       44.7
2                          61.1                       46.2
3                          65.9                       46.5
4                          68.2                       47.5
...                         ...                        ...
1821                       59.6                       49.2
1822                       60.8                       43.9
1823                       61.7                       52.6
1824                       63.1                       55.0
1825                       71.6                       58.9

      temperature_2m_mean_Chicago  temperature_2m_max_Chicago  \
0                            63.8                        68.3
1                            62.3                        66.0
2                            64.2                        69.6
3                            68.4                        74.3
4                            67.3                        73.4
...                           ...                         ...
1821                         61.8                        67.0
1822                         66.1                        73.2
1823                         69.9                        74.6
1824                         71.4                        74.9
1825                         63.0                        70.4

      temperature_2m_min_Chicago  ...  temperature_2m_max_Seattle  \
0                           60.3  ...                        72.7
1                           59.0  ...                        64.4
2                           60.3  ...                        59.0
3                           62.8  ...                        66.9
4                           63.9  ...                        67.1
...                          ...  ...                         ...
1821                        56.0  ...                        60.3
1822                        60.9  ...                        50.6
1823                        64.5  ...                        55.7
1824                        67.4  ...                        62.2
1825                        58.3  ...                        65.9

      temperature_2m_min_Seattle  temperature_2m_mean_San Francisco  \
0                           51.0                               58.7
1                           56.4                               60.2
2                           54.1                               60.1
3                           52.2                               61.8
4                           51.7                               60.3
...                          ...                                ...
1821                        44.8                               61.1
1822                        48.9                               61.9
1823                        54.9                               64.7
1824                        46.7                               71.9
1825                        50.5                               74.5

      temperature_2m_max_San Francisco  temperature_2m_min_San Francisco  \
0                                 71.9                              50.6
1                                 72.4                              53.7
2                                 67.8                              53.9
3                                 73.2                              52.1
4                                 73.2                              52.9
...                                ...                               ...
1821                              70.0                              53.9
1822                              70.5                              55.7
1823                              83.8                              54.5
1824                              89.8                              57.5
1825                              95.0                              58.7

      temperature_2m_mean_Las Vegas  temperature_2m_max_Las Vegas  \
0                              80.2                          93.5
1                              81.3                          94.8
2                              79.9                          95.2
3                              77.8                          89.3
4                              78.4                          92.5
...                             ...                           ...
1821                           82.1                          92.7
1822                           79.6                          91.1
1823                           77.5                          90.4
1824                           78.8                          90.7
1825                           80.1                          93.3

      temperature_2m_min_Las Vegas  Month  Year
0                             66.1     10  2018
1                             67.0     10  2018
2                             67.8     10  2018
3                             65.7     10  2018
4                             65.2     10  2018
...                            ...    ...   ...
1821                          69.6      9  2023
1822                          66.1      9  2023
1823                          63.9      9  2023
1824                          64.8      9  2023
1825                          67.2      9  2023

[1826 rows x 45 columns]

In [28]:
monthly_mean_temperature_atlanta = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Atlanta'].mean().reset_index()
print(monthly_mean_temperature_atlanta)
monthly_mean_temperature_atlanta.to_csv('monthly_mean_tempature_atlanta.csv')

    Year  Month  temperature_2m_mean_Atlanta
0   2018     10                    62.387097
1   2018     11                    51.006667
2   2018     12                    43.929032
3   2019      1                    37.645161
4   2019      2                    47.471429
5   2019      3                    54.858065
6   2019      4                    60.063333
7   2019      5                    66.525806
8   2019      6                    75.993333
9   2019      7                    79.206452
10  2019      8                    77.703226
11  2019      9                    73.013333
12  2019     10                    62.564516
13  2019     11                    51.736667
14  2019     12                    54.129032
15  2020      1                    43.603226
16  2020      2                    43.644828
17  2020      3                    55.412903
18  2020      4                    60.860000
19  2020      5                    70.258065
20  2020      6                    74.830000
21  2020      7                    78.519355
22  2020      8                    80.525806
23  2020      9                    76.216667
24  2020     10                    61.961290
25  2020     11                    46.770000
26  2020     12                    57.141935
27  2021      1                    46.406452
28  2021      2                    41.514286
29  2021      3                    58.141935
30  2021      4                    60.956667
31  2021      5                    74.258065
32  2021      6                    77.206667
33  2021      7                    78.341935
34  2021      8                    79.841935
35  2021      9                    75.763333
36  2021     10                    64.800000
37  2021     11                    48.943333
38  2021     12                    43.509677
39  2022      1                    53.135484
40  2022      2                    49.175000
41  2022      3                    48.545161
42  2022      4                    63.896667
43  2022      5                    69.406452
44  2022      6                    75.560000
45  2022      7                    78.919355
46  2022      8                    83.235484
47  2022      9                    71.950000
48  2022     10                    65.838710
49  2022     11                    51.390000
50  2022     12                    40.587097
51  2023      1                    40.116129
52  2023      2                    45.814286
53  2023      3                    54.461290
54  2023      4                    60.523333
55  2023      5                    73.222581
56  2023      6                    77.106667
57  2023      7                    79.929032
58  2023      8                    79.877419
59  2023      9                    75.023333

In [29]:
monthly_mean_temperature_boston = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Boston'].mean().reset_index()
print(monthly_mean_temperature_boston)
monthly_mean_temperature_boston.to_csv('monthly_mean_tempature_boston.csv')

    Year  Month  temperature_2m_mean_Boston
0   2018     10                   52.632258
1   2018     11                   42.603333
2   2018     12                   37.303226
3   2019      1                   29.916129
4   2019      2                   28.878571
5   2019      3                   39.029032
6   2019      4                   50.763333
7   2019      5                   57.441935
8   2019      6                   67.623333
9   2019      7                   72.293548
10  2019      8                   72.770968
11  2019      9                   66.760000
12  2019     10                   55.316129
13  2019     11                   43.783333
14  2019     12                   41.322581
15  2020      1                   22.929032
16  2020      2                   23.982759
17  2020      3                   38.745161
18  2020      4                   47.670000
19  2020      5                   58.696774
20  2020      6                   69.206667
21  2020      7                   76.338710
22  2020      8                   73.612903
23  2020      9                   68.433333
24  2020     10                   53.067742
25  2020     11                   44.253333
26  2020     12                   39.590323
27  2021      1                   30.709677
28  2021      2                   22.760714
29  2021      3                   43.254839
30  2021      4                   48.183333
31  2021      5                   62.177419
32  2021      6                   68.803333
33  2021      7                   76.551613
34  2021      8                   73.832258
35  2021      9                   67.186667
36  2021     10                   55.216129
37  2021     11                   45.623333
38  2021     12                   33.503226
39  2022      1                   32.638710
40  2022      2                   34.053571
41  2022      3                   34.158065
42  2022      4                   48.376667
43  2022      5                   56.029032
44  2022      6                   68.526667
45  2022      7                   73.929032
46  2022      8                   74.629032
47  2022      9                   64.390000
48  2022     10                   53.393548
49  2022     11                   43.530000
50  2022     12                   36.303226
51  2023      1                   30.538710
52  2023      2                   28.285714
53  2023      3                   36.977419
54  2023      4                   45.993333
55  2023      5                   59.687097
56  2023      6                   66.573333
57  2023      7                   78.503226
58  2023      8                   74.490323
59  2023      9                   64.703333

In [30]:
monthly_mean_temperature_chicago = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Chicago'].mean().reset_index()
print(monthly_mean_temperature_chicago)
monthly_mean_temperature_chicago.to_csv('monthly_mean_tempature_chicago.csv')

    Year  Month  temperature_2m_mean_Chicago
0   2018     10                    56.558065
1   2018     11                    47.410000
2   2018     12                    35.664516
3   2019      1                    27.838710
4   2019      2                    29.692857
5   2019      3                    38.077419
6   2019      4                    47.333333
7   2019      5                    55.374194
8   2019      6                    69.410000
9   2019      7                    76.351613
10  2019      8                    78.074194
11  2019      9                    66.276667
12  2019     10                    56.838710
13  2019     11                    42.466667
14  2019     12                    37.825806
15  2020      1                    13.883871
16  2020      2                    15.710345
17  2020      3                    38.154839
18  2020      4                    49.563333
19  2020      5                    58.122581
20  2020      6                    73.446667
21  2020      7                    79.393548
22  2020      8                    79.893548
23  2020      9                    71.483333
24  2020     10                    55.825806
25  2020     11                    40.653333
26  2020     12                    37.222581
27  2021      1                    24.467742
28  2021      2                    21.750000
29  2021      3                    39.509677
30  2021      4                    48.806667
31  2021      5                    62.483871
32  2021      6                    72.153333
33  2021      7                    76.606452
34  2021      8                    76.961290
35  2021      9                    68.966667
36  2021     10                    59.222581
37  2021     11                    44.216667
38  2021     12                    28.041935
39  2022      1                    32.116129
40  2022      2                    27.246429
41  2022      3                    27.519355
42  2022      4                    46.280000
43  2022      5                    60.058065
44  2022      6                    70.966667
45  2022      7                    82.993548
46  2022      8                    80.138710
47  2022      9                    69.460000
48  2022     10                    54.938710
49  2022     11                    42.553333
50  2022     12                    31.190323
51  2023      1                    29.203226
52  2023      2                    22.007143
53  2023      3                    43.041935
54  2023      4                    47.060000
55  2023      5                    67.245161
56  2023      6                    74.740000
57  2023      7                    79.667742
58  2023      8                    80.106452
59  2023      9                    70.560000

In [31]:
monthly_mean_temperature_denver = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Denver'].mean().reset_index()
print(monthly_mean_temperature_denver)
monthly_mean_temperature_denver.to_csv('monthly_mean_tempature_denver.csv')

    Year  Month  temperature_2m_mean_Denver
0   2018     10                   52.925806
1   2018     11                   37.423333
2   2018     12                   24.470968
3   2019      1                   24.951613
4   2019      2                   26.346429
5   2019      3                   34.335484
6   2019      4                   38.126667
7   2019      5                   56.638710
8   2019      6                   61.486667
9   2019      7                   72.958065
10  2019      8                   72.522581
11  2019      9                   64.390000
12  2019     10                   47.470968
13  2019     11                   41.290000
14  2019     12                   26.225806
15  2020      1                   15.529032
16  2020      2                   28.031034
17  2020      3                   36.854839
18  2020      4                   49.120000
19  2020      5                   52.922581
20  2020      6                   65.776667
21  2020      7                   77.774194
22  2020      8                   73.774194
23  2020      9                   61.933333
24  2020     10                   54.374194
25  2020     11                   36.836667
26  2020     12                   26.764516
27  2021      1                   24.083871
28  2021      2                   32.450000
29  2021      3                   35.358065
30  2021      4                   48.000000
31  2021      5                   60.280645
32  2021      6                   64.676667
33  2021      7                   73.322581
34  2021      8                   74.383871
35  2021      9                   66.573333
36  2021     10                   52.251613
37  2021     11                   36.860000
38  2021     12                   25.600000
39  2022      1                   30.183871
40  2022      2                   30.803571
41  2022      3                   36.961290
42  2022      4                   43.930000
43  2022      5                   54.935484
44  2022      6                   65.090000
45  2022      7                   76.377419
46  2022      8                   72.574194
47  2022      9                   62.253333
48  2022     10                   49.941935
49  2022     11                   35.886667
50  2022     12                   28.441935
51  2023      1                   29.441935
52  2023      2                   32.435714
53  2023      3                   38.516129
54  2023      4                   39.733333
55  2023      5                   53.961290
56  2023      6                   67.050000
57  2023      7                   73.764516
58  2023      8                   71.741935
59  2023      9                   58.866667

In [32]:
monthly_mean_temperature_dallas = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Dallas'].mean().reset_index()
print(monthly_mean_temperature_dallas)
monthly_mean_temperature_dallas.to_csv('monthly_mean_tempature_dallas.csv')

    Year  Month  temperature_2m_mean_Dallas
0   2018     10                   69.461290
1   2018     11                   57.363333
2   2018     12                   46.758065
3   2019      1                   44.706452
4   2019      2                   50.946429
5   2019      3                   56.883871
6   2019      4                   63.660000
7   2019      5                   74.032258
8   2019      6                   83.016667
9   2019      7                   89.029032
10  2019      8                   82.303226
11  2019      9                   77.186667
12  2019     10                   68.558065
13  2019     11                   58.266667
14  2019     12                   52.109677
15  2020      1                   37.193548
16  2020      2                   47.293103
17  2020      3                   61.106452
18  2020      4                   66.693333
19  2020      5                   70.051613
20  2020      6                   76.836667
21  2020      7                   88.019355
22  2020      8                   91.712903
23  2020      9                   78.810000
24  2020     10                   76.303226
25  2020     11                   56.750000
26  2020     12                   57.493548
27  2021      1                   43.345161
28  2021      2                   50.964286
29  2021      3                   61.396774
30  2021      4                   67.816667
31  2021      5                   81.019355
32  2021      6                   83.436667
33  2021      7                   87.945161
34  2021      8                   88.970968
35  2021      9                   84.593333
36  2021     10                   74.864516
37  2021     11                   56.180000
38  2021     12                   49.425806
39  2022      1                   53.458065
40  2022      2                   51.896429
41  2022      3                   58.867742
42  2022      4                   68.433333
43  2022      5                   73.409677
44  2022      6                   82.876667
45  2022      7                   87.345161
46  2022      8                   89.825806
47  2022      9                   82.256667
48  2022     10                   72.522581
49  2022     11                   56.320000
50  2022     12                   48.316129
51  2023      1                   44.925806
52  2023      2                   52.460714
53  2023      3                   61.554839
54  2023      4                   64.533333
55  2023      5                   73.474194
56  2023      6                   79.906667
57  2023      7                   83.648387
58  2023      8                   84.380645
59  2023      9                   79.873333

In [33]:
monthly_mean_temperature_houston = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Houston'].mean().reset_index()
print(monthly_mean_temperature_houston)
monthly_mean_temperature_houston.to_csv('monthly_mean_tempature_houston.csv')

    Year  Month  temperature_2m_mean_Houston
0   2018     10                    73.145161
1   2018     11                    61.640000
2   2018     12                    52.732258
3   2019      1                    50.270968
4   2019      2                    57.764286
5   2019      3                    64.248387
6   2019      4                    68.090000
7   2019      5                    75.877419
8   2019      6                    83.550000
9   2019      7                    85.522581
10  2019      8                    84.583871
11  2019      9                    80.523333
12  2019     10                    71.767742
13  2019     11                    63.756667
14  2019     12                    60.554839
15  2020      1                    46.661290
16  2020      2                    54.200000
17  2020      3                    65.877419
18  2020      4                    68.716667
19  2020      5                    74.870968
20  2020      6                    81.030000
21  2020      7                    84.919355
22  2020      8                    87.022581
23  2020      9                    79.723333
24  2020     10                    78.016129
25  2020     11                    60.723333
26  2020     12                    68.470968
27  2021      1                    51.567742
28  2021      2                    53.782143
29  2021      3                    67.316129
30  2021      4                    70.456667
31  2021      5                    79.993548
32  2021      6                    82.710000
33  2021      7                    84.358065
34  2021      8                    85.358065
35  2021      9                    84.480000
36  2021     10                    77.596774
37  2021     11                    60.023333
38  2021     12                    57.461290
39  2022      1                    62.329032
40  2022      2                    58.528571
41  2022      3                    62.012903
42  2022      4                    71.176667
43  2022      5                    76.345161
44  2022      6                    81.800000
45  2022      7                    85.080645
46  2022      8                    84.880645
47  2022      9                    82.433333
48  2022     10                    76.241935
49  2022     11                    63.956667
50  2022     12                    54.548387
51  2023      1                    49.758065
52  2023      2                    58.796429
53  2023      3                    65.674194
54  2023      4                    70.276667
55  2023      5                    76.280645
56  2023      6                    80.723333
57  2023      7                    80.970968
58  2023      8                    81.664516
59  2023      9                    80.836667

In [34]:
monthly_mean_temperature_miami = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Miami'].mean().reset_index()
print(monthly_mean_temperature_miami)
monthly_mean_temperature_miami.to_csv('monthly_mean_tempature_miami.csv')

    Year  Month  temperature_2m_mean_Miami
0   2018     10                  79.535484
1   2018     11                  75.706667
2   2018     12                  68.745161
3   2019      1                  64.603226
4   2019      2                  73.289286
5   2019      3                  74.758065
6   2019      4                  76.000000
7   2019      5                  79.183871
8   2019      6                  81.440000
9   2019      7                  83.296774
10  2019      8                  83.106452
11  2019      9                  82.120000
12  2019     10                  78.103226
13  2019     11                  73.043333
14  2019     12                  76.645161
15  2020      1                  74.829032
16  2020      2                  74.113793
17  2020      3                  75.870968
18  2020      4                  75.390000
19  2020      5                  79.206452
20  2020      6                  80.263333
21  2020      7                  81.667742
22  2020      8                  82.583871
23  2020      9                  80.886667
24  2020     10                  77.841935
25  2020     11                  70.223333
26  2020     12                  74.964516
27  2021      1                  72.922581
28  2021      2                  68.964286
29  2021      3                  75.922581
30  2021      4                  75.956667
31  2021      5                  80.051613
32  2021      6                  81.510000
33  2021      7                  82.190323
34  2021      8                  82.654839
35  2021      9                  81.833333
36  2021     10                  78.487097
37  2021     11                  73.250000
38  2021     12                  68.864516
39  2022      1                  74.580645
40  2022      2                  71.225000
41  2022      3                  72.006452
42  2022      4                  76.030000
43  2022      5                  79.283871
44  2022      6                  80.916667
45  2022      7                  81.758065
46  2022      8                  82.651613
47  2022      9                  81.746667
48  2022     10                  78.500000
49  2022     11                  76.020000
50  2022     12                  68.809677
51  2023      1                  64.729032
52  2023      2                  71.135714
53  2023      3                  71.212903
54  2023      4                  76.013333
55  2023      5                  78.522581
56  2023      6                  81.533333
57  2023      7                  82.487097
58  2023      8                  82.522581
59  2023      9                  82.463333

In [35]:
monthly_mean_temperature_minneapolis = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Minneapolis'].mean().reset_index()
print(monthly_mean_temperature_minneapolis)
monthly_mean_temperature_minneapolis.to_csv('monthly_mean_tempature_minneapolis.csv')

    Year  Month  temperature_2m_mean_Minneapolis
0   2018     10                        51.100000
1   2018     11                        42.826667
2   2018     12                        25.516129
3   2019      1                        19.570968
4   2019      2                        18.839286
5   2019      3                        32.080645
6   2019      4                        44.593333
7   2019      5                        55.693548
8   2019      6                        65.940000
9   2019      7                        72.903226
10  2019      8                        77.987097
11  2019      9                        60.743333
12  2019     10                        50.035484
13  2019     11                        34.840000
14  2019     12                        26.961290
15  2020      1                        -1.306452
16  2020      2                         8.324138
17  2020      3                        29.938710
18  2020      4                        49.623333
19  2020      5                        60.348387
20  2020      6                        72.123333
21  2020      7                        76.635484
22  2020      8                        81.674194
23  2020      9                        66.466667
24  2020     10                        51.777419
25  2020     11                        35.393333
26  2020     12                        21.748387
27  2021      1                        15.370968
28  2021      2                        19.735714
29  2021      3                        36.235484
30  2021      4                        50.046667
31  2021      5                        60.706452
32  2021      6                        70.756667
33  2021      7                        76.264516
34  2021      8                        75.561290
35  2021      9                        65.846667
36  2021     10                        53.587097
37  2021     11                        37.836667
38  2021     12                        17.412903
39  2022      1                        19.138710
40  2022      2                        16.821429
41  2022      3                        19.983871
42  2022      4                        42.490000
43  2022      5                        59.845161
44  2022      6                        67.353333
45  2022      7                        81.780645
46  2022      8                        73.187097
47  2022      9                        67.443333
48  2022     10                        48.358065
49  2022     11                        36.236667
50  2022     12                        20.583871
51  2023      1                        19.112903
52  2023      2                        12.807143
53  2023      3                        41.138710
54  2023      4                        47.343333
55  2023      5                        66.451613
56  2023      6                        73.160000
57  2023      7                        76.832258
58  2023      8                        76.754839
59  2023      9                        66.536667

In [ ]:
monthly_mean_temperature_minneapolis = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Minneapolis'].mean().reset_index()
print(monthly_mean_temperature_minneapolis)
monthly_mean_temperature_minneapolis.to_csv('monthly_mean_tempature_minneapolis.csv')

In [36]:
monthly_mean_temperature_new_york = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_New_York'].mean().reset_index()
print(monthly_mean_temperature_new_york)
monthly_mean_temperature_new_york.to_csv('monthly_mean_tempature_new_york.csv')

    Year  Month  temperature_2m_mean_New_York
0   2018     10                     54.496774
1   2018     11                     45.200000
2   2018     12                     39.538710
3   2019      1                     31.974194
4   2019      2                     30.510714
5   2019      3                     42.554839
6   2019      4                     53.476667
7   2019      5                     58.683871
8   2019      6                     69.690000
9   2019      7                     76.167742
10  2019      8                     75.293548
11  2019      9                     68.740000
12  2019     10                     56.948387
13  2019     11                     45.163333
14  2019     12                     44.509677
15  2020      1                     27.454839
16  2020      2                     25.631034
17  2020      3                     42.309677
18  2020      4                     51.243333
19  2020      5                     62.932258
20  2020      6                     71.623333
21  2020      7                     77.500000
22  2020      8                     75.364516
23  2020      9                     72.360000
24  2020     10                     54.861290
25  2020     11                     44.633333
26  2020     12                     43.725806
27  2021      1                     34.132258
28  2021      2                     24.971429
29  2021      3                     46.474194
30  2021      4                     51.276667
31  2021      5                     64.045161
32  2021      6                     71.816667
33  2021      7                     78.609677
34  2021      8                     77.393548
35  2021      9                     71.170000
36  2021     10                     57.306452
37  2021     11                     46.143333
38  2021     12                     34.145161
39  2022      1                     36.316129
40  2022      2                     37.867857
41  2022      3                     37.064516
42  2022      4                     52.006667
43  2022      5                     58.683871
44  2022      6                     69.123333
45  2022      7                     76.232258
46  2022      8                     78.080645
47  2022      9                     66.466667
48  2022     10                     55.964516
49  2022     11                     44.726667
50  2022     12                     37.693548
51  2023      1                     33.009677
52  2023      2                     30.500000
53  2023      3                     40.141935
54  2023      4                     49.313333
55  2023      5                     65.729032
56  2023      6                     69.366667
57  2023      7                     81.274194
58  2023      8                     77.209677
59  2023      9                     67.016667

In [37]:
monthly_mean_temperature_phoenix = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Phoenix'].mean().reset_index()
print(monthly_mean_temperature_phoenix)
monthly_mean_temperature_phoenix.to_csv('monthly_mean_tempature_phoenix.csv')

    Year  Month  temperature_2m_mean_Phoenix
0   2018     10                    80.245161
1   2018     11                    64.830000
2   2018     12                    48.541935
3   2019      1                    52.003226
4   2019      2                    53.078571
5   2019      3                    61.700000
6   2019      4                    72.606667
7   2019      5                    82.903226
8   2019      6                    87.813333
9   2019      7                    96.038710
10  2019      8                    92.719355
11  2019      9                    88.866667
12  2019     10                    73.561290
13  2019     11                    68.230000
14  2019     12                    51.890323
15  2020      1                    45.187097
16  2020      2                    58.872414
17  2020      3                    64.174194
18  2020      4                    77.550000
19  2020      5                    84.312903
20  2020      6                    93.120000
21  2020      7                    96.380645
22  2020      8                    93.951613
23  2020      9                    87.266667
24  2020     10                    80.022581
25  2020     11                    63.540000
26  2020     12                    48.625806
27  2021      1                    51.738710
28  2021      2                    62.060714
29  2021      3                    62.932258
30  2021      4                    76.863333
31  2021      5                    83.190323
32  2021      6                    94.683333
33  2021      7                    95.803226
34  2021      8                    94.545161
35  2021      9                    92.670000
36  2021     10                    80.448387
37  2021     11                    64.983333
38  2021     12                    53.838710
39  2022      1                    52.948387
40  2022      2                    58.425000
41  2022      3                    67.522581
42  2022      4                    72.550000
43  2022      5                    78.283871
44  2022      6                    90.430000
45  2022      7                    95.661290
46  2022      8                    93.625806
47  2022      9                    88.636667
48  2022     10                    77.619355
49  2022     11                    62.923333
50  2022     12                    54.338710
51  2023      1                    54.345161
52  2023      2                    58.789286
53  2023      3                    66.309677
54  2023      4                    68.226667
55  2023      5                    75.512903
56  2023      6                    91.363333
57  2023      7                    98.393548
58  2023      8                    94.225806
59  2023      9                    88.723333

In [38]:
monthly_mean_temperature_seattle = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Seattle'].mean().reset_index()
print(monthly_mean_temperature_seattle)
monthly_mean_temperature_seattle.to_csv('monthly_mean_tempature_seattle.csv')

    Year  Month  temperature_2m_mean_Seattle
0   2018     10                    53.493548
1   2018     11                    49.280000
2   2018     12                    41.267742
3   2019      1                    40.680645
4   2019      2                    35.778571
5   2019      3                    43.758065
6   2019      4                    47.546667
7   2019      5                    55.532258
8   2019      6                    64.970000
9   2019      7                    67.380645
10  2019      8                    66.545161
11  2019      9                    59.666667
12  2019     10                    51.012903
13  2019     11                    47.853333
14  2019     12                    35.112903
15  2020      1                    25.603226
16  2020      2                    38.906897
17  2020      3                    43.154839
18  2020      4                    49.713333
19  2020      5                    61.864516
20  2020      6                    63.053333
21  2020      7                    66.116129
22  2020      8                    65.629032
23  2020      9                    62.056667
24  2020     10                    52.806452
25  2020     11                    46.933333
26  2020     12                    30.096774
27  2021      1                    32.996774
28  2021      2                    47.846429
29  2021      3                    42.722581
30  2021      4                    49.823333
31  2021      5                    50.709677
32  2021      6                    59.810000
33  2021      7                    70.151613
34  2021      8                    66.519355
35  2021      9                    60.526667
36  2021     10                    50.945161
37  2021     11                    46.906667
38  2021     12                    36.267742
39  2022      1                    38.138710
40  2022      2                    41.946429
41  2022      3                    44.483871
42  2022      4                    46.046667
43  2022      5                    53.561290
44  2022      6                    64.000000
45  2022      7                    64.674194
46  2022      8                    67.632258
47  2022      9                    61.890000
48  2022     10                    51.835484
49  2022     11                    46.236667
50  2022     12                    43.612903
51  2023      1                    44.116129
52  2023      2                    35.942857
53  2023      3                    50.919355
54  2023      4                    51.183333
55  2023      5                    54.670968
56  2023      6                    60.526667
57  2023      7                    68.003226
58  2023      8                    64.203226
59  2023      9                    62.586667

In [39]:
monthly_mean_temperature_los_angeles = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Los_Angeles'].mean().reset_index()
print(monthly_mean_temperature_los_angeles)
monthly_mean_temperature_los_angeles.to_csv('monthly_mean_tempature_los_angeles.csv')

    Year  Month  temperature_2m_mean_Los Angeles
0   2018     10                        69.222581
1   2018     11                        64.626667
2   2018     12                        50.093548
3   2019      1                        53.170968
4   2019      2                        50.060714
5   2019      3                        56.364516
6   2019      4                        68.606667
7   2019      5                        64.525806
8   2019      6                        66.410000
9   2019      7                        75.061290
10  2019      8                        80.835484
11  2019      9                        74.530000
12  2019     10                        69.267742
13  2019     11                        68.536667
14  2019     12                        52.064516
15  2020      1                        45.909677
16  2020      2                        57.496552
17  2020      3                        59.129032
18  2020      4                        69.173333
19  2020      5                        66.554839
20  2020      6                        69.570000
21  2020      7                        74.851613
22  2020      8                        79.570968
23  2020      9                        72.243333
24  2020     10                        66.554839
25  2020     11                        62.590000
26  2020     12                        47.706452
27  2021      1                        51.177419
28  2021      2                        60.160714
29  2021      3                        56.167742
30  2021      4                        61.263333
31  2021      5                        65.300000
32  2021      6                        71.893333
33  2021      7                        73.200000
34  2021      8                        77.377419
35  2021      9                        79.316667
36  2021     10                        74.635484
37  2021     11                        66.293333
38  2021     12                        55.809677
39  2022      1                        52.493548
40  2022      2                        55.971429
41  2022      3                        63.454839
42  2022      4                        61.173333
43  2022      5                        62.148387
44  2022      6                        72.003333
45  2022      7                        77.251613
46  2022      8                        75.767742
47  2022      9                        78.456667
48  2022     10                        67.880645
49  2022     11                        61.053333
50  2022     12                        56.341935
51  2023      1                        54.777419
52  2023      2                        55.721429
53  2023      3                        61.609677
54  2023      4                        58.010000
55  2023      5                        58.880645
56  2023      6                        65.283333
57  2023      7                        73.419355
58  2023      8                        75.480645
59  2023      9                        80.736667

In [40]:
monthly_mean_temperature_san_francisco = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_San_Francisco'].mean().reset_index()
print(monthly_mean_temperature_san_francisco)
monthly_mean_temperature_san_francisco.to_csv('monthly_mean_tempature_san_francisco.csv')

    Year  Month  temperature_2m_mean_San Francisco
0   2018     10                          60.364516
1   2018     11                          56.850000
2   2018     12                          49.832258
3   2019      1                          49.903226
4   2019      2                          49.235714
5   2019      3                          53.900000
6   2019      4                          58.246667
7   2019      5                          58.674194
8   2019      6                          59.910000
9   2019      7                          61.293548
10  2019      8                          67.225806
11  2019      9                          65.820000
12  2019     10                          62.212903
13  2019     11                          57.990000
14  2019     12                          49.287097
15  2020      1                          43.229032
16  2020      2                          52.293103
17  2020      3                          51.716129
18  2020      4                          59.613333
19  2020      5                          59.258065
20  2020      6                          58.173333
21  2020      7                          63.545161
22  2020      8                          66.838710
23  2020      9                          61.216667
24  2020     10                          59.632258
25  2020     11                          57.050000
26  2020     12                          44.854839
27  2021      1                          46.348387
28  2021      2                          54.050000
29  2021      3                          50.403226
30  2021      4                          52.626667
31  2021      5                          57.919355
32  2021      6                          62.193333
33  2021      7                          62.261290
34  2021      8                          63.338710
35  2021      9                          64.073333
36  2021     10                          60.761290
37  2021     11                          55.296667
38  2021     12                          47.309677
39  2022      1                          51.003226
40  2022      2                          51.932143
41  2022      3                          55.358065
42  2022      4                          52.583333
43  2022      5                          55.967742
44  2022      6                          60.576667
45  2022      7                          62.738710
46  2022      8                          60.812903
47  2022      9                          61.380000
48  2022     10                          61.048387
49  2022     11                          54.113333
50  2022     12                          51.290323
51  2023      1                          52.209677
52  2023      2                          52.092857
53  2023      3                          54.274194
54  2023      4                          53.893333
55  2023      5                          56.512903
56  2023      6                          56.776667
57  2023      7                          62.019355
58  2023      8                          67.396774
59  2023      9                          65.356667

In [41]:
monthly_mean_temperature_las_vegas = temperature_df.groupby(['Year', 'Month'])['temperature_2m_mean_Las_Vegas'].mean().reset_index()
print(monthly_mean_temperature_las_vegas)
monthly_mean_temperature_las_vegas.to_csv('monthly_mean_tempature_las_vegas.csv')

    Year  Month  temperature_2m_mean_Las Vegas
0   2018     10                      73.758065
1   2018     11                      59.196667
2   2018     12                      43.277419
3   2019      1                      44.274194
4   2019      2                      47.089286
5   2019      3                      54.977419
6   2019      4                      64.390000
7   2019      5                      78.661290
8   2019      6                      82.946667
9   2019      7                      93.532258
10  2019      8                      90.396774
11  2019      9                      83.703333
12  2019     10                      67.654839
13  2019     11                      61.663333
14  2019     12                      45.077419
15  2020      1                      36.429032
16  2020      2                      48.934483
17  2020      3                      57.554839
18  2020      4                      70.963333
19  2020      5                      81.354839
20  2020      6                      88.346667
21  2020      7                      94.945161
22  2020      8                      92.341935
23  2020      9                      83.900000
24  2020     10                      73.793548
25  2020     11                      58.790000
26  2020     12                      42.435484
27  2021      1                      42.448387
28  2021      2                      55.071429
29  2021      3                      57.280645
30  2021      4                      71.223333
31  2021      5                      78.012903
32  2021      6                      89.226667
33  2021      7                      94.564516
34  2021      8                      90.622581
35  2021      9                      86.193333
36  2021     10                      73.174194
37  2021     11                      57.886667
38  2021     12                      47.958065
39  2022      1                      48.532258
40  2022      2                      53.207143
41  2022      3                      60.503226
42  2022      4                      67.033333
43  2022      5                      73.458065
44  2022      6                      86.553333
45  2022      7                      91.906452
46  2022      8                      90.438710
47  2022      9                      83.020000
48  2022     10                      71.941935
49  2022     11                      57.256667
50  2022     12                      48.587097
51  2023      1                      47.996774
52  2023      2                      51.639286
53  2023      3                      61.067742
54  2023      4                      63.036667
55  2023      5                      72.354839
56  2023      6                      85.383333
57  2023      7                      94.812903
58  2023      8                      92.190323
59  2023      9                      82.656667