In [2]:
import pandas as pd
import sqlite3

In [4]:
# Read CSV into a pandas DataFrame
df = pd.read_csv('/Users/jeanjin/Desktop/DSBC/project_3/1bed_data.csv')

# Create a connection to SQLite database
conn = sqlite3.connect('1bed_data.db')

# Write the DataFrame content into the SQLite database
df.to_sql('1bed_data', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [5]:
# Read CSV into a pandas DataFrame
df = pd.read_csv('/Users/jeanjin/Desktop/DSBC/project_3/final_temp.csv')

# Create a connection to SQLite database
conn = sqlite3.connect('final_temp.db')

# Write the DataFrame content into the SQLite database
df.to_sql('final_temp', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [10]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/jeanjin/Desktop/DSBC/project_3/1bed_data.db')

# Query the desired table and read it into a pandas DataFrame
df = pd.read_sql_query('SELECT * FROM "1bed_data"', conn)

# Close the connection
conn.close()

# Display the DataFrame
df

,City,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,New York,555760.082929,553970.655818,551850.533562,552769.236077,553754.844574,556383.652488,558549.431344,561521.821310,563894.485248,...,571455.329183,572840.955227,573455.723610,573284.080215,571559.777608,570712.039118,571310.777155,571357.977787,570371.560397,568967.365941
1,Los Angeles,514219.084852,521089.120752,525244.892339,524025.097874,517584.554615,508524.235766,500399.365359,495096.166239,491546.941245,...,596377.797194,593991.269706,588096.453328,580708.083190,575759.904904,573432.935999,573523.963692,576263.095349,581282.751445,587382.146169
2,Houston,98022.181420,98198.317150,98682.619501,99384.966227,100105.889657,100631.847344,100775.457185,100950.254099,101074.070638,...,127708.975907,128269.335785,128657.793678,128942.551135,129119.525283,129177.920194,129259.061110,129396.556590,129714.977729,129954.670362
3,Chicago,219703.251358,219457.502992,219080.553421,219042.350210,219639.944322,220016.715687,220045.710514,219728.532540,219303.535847,...,230407.304427,230471.824975,230316.313383,230707.905385,232008.269969,233984.428662,236050.439204,237911.188815,239834.416018,241718.468360
4,Phoenix,137509.398162,138778.365794,140092.125419,141604.974186,142901.328816,143774.840816,144340.304290,144687.934812,145097.335324,...,261144.847322,257561.586958,254005.549138,251172.750656,249899.325574,249209.761046,249341.577434,250280.740100,252348.306960,254736.598955
5,Las Vegas,132744.084370,134166.189781,135375.593338,136238.017700,136731.460094,136588.624069,136563.707397,136487.293026,136799.276813,...,202650.681468,199234.481191,196313.105883,194118.375309,192769.177309,191924.854677,191867.116604,192642.440032,193972.843960,195122.245429
6,Dallas,122621.925371,123078.486623,123810.371976,124773.916119,125549.510123,125852.012664,125568.006959,125219.832931,125042.702245,...,168454.447753,168881.943703,169001.760110,169001.100447,168927.502940,168837.470836,169136.262665,169841.052225,171138.871798,172165.275686
7,San Francisco,871604.660153,874026.935482,874903.005056,874118.085168,870340.166096,865646.170332,862795.734792,862829.386053,864976.971993,...,792302.786382,782215.674779,773160.137200,766964.556352,763411.129886,761205.635444,760347.722124,760576.612803,761268.280358,761053.954801
8,Miami,255323.796042,255537.107576,256187.416656,256543.176394,256967.908685,256577.202420,255936.718022,254901.389388,253986.890158,...,387882.787857,389300.948799,389452.201661,389872.790400,391342.942567,393830.822547,396470.983330,398772.547724,401084.316320,403223.890842
9,Denver,278836.287738,279446.461437,280229.996957,281048.164130,281709.225795,281928.447558,281912.787349,282174.876886,282324.145110,...,342170.810108,341063.372809,339600.296990,338292.999695,337081.250764,336446.362784,336391.000451,336768.085545,337272.073449,337641.110024
10,Seattle,478395.900810,475081.346936,471923.199476,468607.342561,464571.032446,461174.631738,458539.837531,457380.560458,455999.289658,...,472263.573480,470437.485701,468109.308047,465685.346301,462972.746168,460531.108410,458799.948849,457309.823813,456593.785356,456452.684489
11,Boston,572008.965548,572804.582953,573637.008837,574158.463696,573584.371969,572878.006144,572840.518616,573313.005308,574150.169486,...,589370.751209,588923.159505,587387.208934,585655.160523,584978.183905,586076.503832,588245.261600,590345.371831,592073.463803,592962.110639
12,Atlanta,210703.406098,212813.151230,215351.013015,217516.408697,219579.475951,220929.904546,221482.397212,221567.415774,220881.765433,...,273959.413297,274807.852175,275054.411360,275185.082763,275214.654551,275583.413360,275886.047838,276529.303395,278035.098024,279784.056428
13,Minneapolis,196033.125422,196270.796955,197030.292358,198634.967110,200535.781645,202421.600134,203481.548105,203391.933866,202644.614631,...,194794.903896,193929.665352,193028.577162,192349.819294,191484.618423,190659.815319,190387.726870,190450.687988,190879.716186,191168.041103

In [16]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/jeanjin/Desktop/DSBC/project_3/final_temp.db')

# Query the desired table and read it into a pandas DataFrame
df = pd.read_sql_query('SELECT * FROM "final_temp"', conn)

# Close the connection
conn.close()

# Display the DataFrame
df

,City,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,Atlanta,62.387097,51.006667,43.929032,37.645161,47.471429,54.858065,60.063333,66.525806,75.993333,...,40.587097,40.116129,45.814286,54.461290,60.523333,73.222581,77.106667,79.929032,79.877419,75.023333
1,Boston,52.632258,42.603333,37.303226,29.916129,28.878571,39.029032,50.763333,57.441935,67.623333,...,36.303226,30.538710,28.285714,36.977419,45.993333,59.687097,66.573333,78.503226,74.490323,64.703333
2,Chicago,56.558065,47.410000,35.664516,27.838710,29.692857,38.077419,47.333333,55.374194,69.410000,...,31.190323,29.203226,22.007143,43.041935,47.060000,67.245161,74.740000,79.667742,80.106452,70.560000
3,Dallas,69.461290,57.363333,46.758065,44.706452,50.946429,56.883871,63.660000,74.032258,83.016667,...,48.316129,44.925806,52.460714,61.554839,64.533333,73.474194,79.906667,83.648387,84.380645,79.873333
4,Denver,52.925806,37.423333,24.470968,24.951613,26.346429,34.335484,38.126667,56.638710,61.486667,...,28.441935,29.441935,32.435714,38.516129,39.733333,53.961290,67.050000,73.764516,71.741935,58.866667
5,Houston,73.145161,61.640000,52.732258,50.270968,57.764286,64.248387,68.090000,75.877419,83.550000,...,54.548387,49.758065,58.796429,65.674194,70.276667,76.280645,80.723333,80.970968,81.664516,80.836667
6,Los Angeles,69.222581,64.626667,50.093548,53.170968,50.060714,56.364516,68.606667,64.525806,66.410000,...,56.341935,54.777419,55.721429,61.609677,58.010000,58.880645,65.283333,73.419355,75.480645,80.736667
7,Miami,79.535484,75.706667,68.745161,64.603226,73.289286,74.758065,76.000000,79.183871,81.440000,...,68.809677,64.729032,71.135714,71.212903,76.013333,78.522581,81.533333,82.487097,82.522581,82.463333
8,Minneapolis,51.100000,42.826667,25.516129,19.570968,18.839286,32.080645,44.593333,55.693548,65.940000,...,20.583871,19.112903,12.807143,41.138710,47.343333,66.451613,73.160000,76.832258,76.754839,66.536667
9,New York,54.496774,45.200000,39.538710,31.974194,30.510714,42.554839,53.476667,58.683871,69.690000,...,37.693548,33.009677,30.500000,40.141935,49.313333,65.729032,69.366667,81.274194,77.209677,67.016667
10,Phoenix,80.245161,64.830000,48.541935,52.003226,53.078571,61.700000,72.606667,82.903226,87.813333,...,54.338710,54.345161,58.789286,66.309677,68.226667,75.512903,91.363333,98.393548,94.225806,88.723333
11,Seattle,53.493548,49.280000,41.267742,40.680645,35.778571,43.758065,47.546667,55.532258,64.970000,...,43.612903,44.116129,35.942857,50.919355,51.183333,54.670968,60.526667,68.003226,64.203226,62.586667
12,San Francisco,60.364516,56.850000,49.832258,49.903226,49.235714,53.900000,58.246667,58.674194,59.910000,...,51.290323,52.209677,52.092857,54.274194,53.893333,56.512903,56.776667,62.019355,67.396774,65.356667
13,Las Vegas,73.758065,59.196667,43.277419,44.274194,47.089286,54.977419,64.390000,78.661290,82.946667,...,48.587097,47.996774,51.639286,61.067742,63.036667,72.354839,85.383333,94.812903,92.190323,82.656667